@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Kalam:wght@300;400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");

.navbar {
  color: #fff;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90rem;
  margin-left: -8px;
  margin-top: -8px;
  position: absolute;
  transition: top 0.3s ease;
  background-color: transparent;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  font-size: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.scrolled {
  width: auto;
  /* background-color: rgb(86, 119, 238); */
  background: rgb(37, 23, 231);
  background: linear-gradient(
    167deg,
    rgba(160, 62, 227, 1) 0%,
    rgba(112, 67, 212, 1) 50%,
    rgba(74, 116, 235, 1) 100%
  );
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  /* background-color: #676363; */
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 24px;
}

.navbar-logo {
  /* padding: 10px; */
  margin-top: 3rem;
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* margin-left: -8rem; */
  color: #ffffff;
  font-size: 30px;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: rgb(221, 160, 221);
}

.nav-menu {
  display: flex;
  list-style: none;
}

.nav-item {
  margin-right: 10px;
  padding: 10px;
  margin-top: -10px;
}
.nav-links:hover {
  color: rgb(220, 154, 240);
  text-decoration: none;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  font-size: 19px;
}
